.about-section {
  padding-top: 5rem;
  //background: linear-gradient(to bottom, $black 0%,#{fade-out($black, .1)} 75%,#{fade-out($black, .2)} 100%);
}
.reserve-section {
  img {
    max-width: 500px;
    width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  @media (min-width: 1992px) {
    img {
      max-width: 1000px;
      width: 100%;
      height: auto;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
