.projects-section {
  padding-bottom: 5rem;

  .slick-prev::before,
  .slick-next::before {
     color: $primary;
  }

  .project-text {
    padding: 3rem;
    font-size: 90%;
    @media (min-width: 992px) {
      padding: 5rem;
      hr {
        border-color: $primary;
        border-width: .25rem;
        width: 30%;
      }
    }
  }
}
