{{ define "main" }}

{{ partial "page-nav.html" .Site.Menus.page }}

{{ partial "a-page-header.html" .Page }}

<section id="main" class="post-section bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-lg-8 mx-auto">
        <h2 class="mb-1 text-center">{{ .Title }}</h2>
        <hr>
      </div>
    </div>

    {{ range .Pages.ByPublishDate.Reverse }}
    <div class="row justify-content-center">

    {{ $featured_image := .Params.featured_image }}
    {{ if $featured_image }}
    <div class="col-md-3">
      <a href="{{ .RelPermalink }}">
        <img class="img-thumbnail" src="{{ $featured_image }}" alt="{{ .Params.featured_image_alt_text }}">
      </a>
    </div>
    {{ else }}
    <div class="col-md-3 text-center">
      <a class="btn btn-primary" href="{{ .RelPermalink }}">Read More</a>
    </div>
    {{ end }}

    <div class="col-md-7 col-lg-5">
      <h4><a href="{{ .RelPermalink }}">{{ .Title }}</a></h4>
      <p class="date"> {{ .Date.Format "Jan 2, 2006" }} </p>
      <p class="summary"> {{ .Summary }}</p>
      <a href="{{ .RelPermalink }}">Continue reading</a>
    </div>

    </div>
    {{ end }}

  </div>
</section>

{{ end }}
