<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>{{ .Title }} - Willamette Valley Bed and Breakfast</title>

  {{ partial "stylesheets.html" . }}

  <!-- Custom styles for this template -->
  {{ $style := resources.Get "scss/grayscale.scss" | resources.ToCSS | resources.Minify | resources.Fingerprint }}
  <link rel="stylesheet" href="{{ $style.RelPermalink }}">

</head>

<body id="page-top">
  <!-- Navigation -->
  <nav class="navbar navbar-shrink navbar-expand-lg navbar-light fixed-top" id="pageNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="{{ "/" | relURL }}">WVBNB</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{{ "/about" | relURL }}" data-target="#main">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{{ "/#reserve" | relURL }}" data-target="#contact">Reserve Now</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

{{ partial "a-page-header.html" .Page }}

  <section id="main" class="post-section bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-lg-8 mx-auto">
          <h2 class="mb-1 text-center">{{ .Title }}</h2>
          <hr>
        </div>
      </div>

      {{ range .Pages.ByPublishDate.Reverse }}
      <div class="row justify-content-center">

      {{ $featured_image := .Params.featured_image }}
      {{ if $featured_image }}
      <div class="col-md-3">
        <a href="{{ .RelPermalink }}">
          <img class="img-thumbnail" src="{{ $featured_image }}" alt="{{ .Params.featured_image_alt_text }}">
        </a>
      </div>
      {{ else }}
      <div class="col-md-3 text-center">
        <a class="btn btn-primary" href="{{ .RelPermalink }}">Read More</a>
      </div>
      {{ end }}

      <div class="col-md-7 col-lg-5">
        <h4><a href="{{ .RelPermalink }}">{{ .Title }}</a></h4>
        <p class="date"> {{ .Date.Format "Jan 2, 2006" }} </p>
        <p class="summary"> {{ .Summary }}</p>
        <a href="{{ .RelPermalink }}">Continue reading</a>
      </div>

      </div>
      {{ end }}

    </div>
  </section>

  {{ partial "footer.html" . }}

  {{ partial "scripts.html" . }}

  <!-- Custom scripts for this template -->
  {{ $js := resources.Get "js/grayscale.js" | resources.Minify | resources.Fingerprint }}
  <script src="{{ $js.RelPermalink }}"></script>
</body>
</html>
