{{ define "main" }}

{{ partial "page-nav.html" .Site.Menus.post }}

{{ partial "a-page-header.html" .Page }}

<section id="main" class="post-section bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-lg-8 mx-auto">
        <h2 class="mb-1">{{ .Title }}</h2>
        <p id="date"> {{ .Date.Format "Jan 2, 2006" }} </p>
        <hr>
        <div class="content">{{ .Content }}</div>
      </div>
    </div>
    <div class="text-center">
      <a class="btn btn-primary" href="{{ "/posts" | relURL }}">All Posts</a>
    </div>
  </div>
</section>

{{ end }}
