{{ define "main" }}

{{ partial "change-on-scroll-nav.html" .Site.Menus.about }}

{{ partial "a-page-header.html" . }}

<section id="about" class="reserve-section bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-lg-8 mx-auto">
        <h2 class="mb-1 text-center">{{ .Title }}</h2>
        <hr>
        <div class="content">{{ .Content }}</div>
      </div>
    </div>
  </div>
</section>

<section id="location" class="bg-light" style="padding: 0 0 5em 0">
<div class="container">
  <div class="row">
    <div class="col-md-10 col-lg-8 mx-auto text-center">
    {{ partial "location.html" . }}
    </div>
  </div>
</div>
</section>

{{ end }}
