{{ $scss := resources.Get "scss/main.scss" | resources.ExecuteAsTemplate "style.main.scss" . }}
{{ $style := $scss | resources.ToCSS | resources.Minify | resources.Fingerprint }}
<link href="{{ "/vendor/bootstrap/css/bootstrap.min.css" | relURL }}" rel="stylesheet">
<!-- Custom fonts -->
<link href="{{ "/vendor/fontawesome-free/css/all.min.css" | relURL }}" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

<link rel="stylesheet" href="{{ $style.RelPermalink }}">
