{{ define "main" }}

{{ partial "page-nav.html" .Site.Menus.page }}

<section id="about" class="reserve-section bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-lg-8 mx-auto">
        <h2 class="mb-1 text-center">Sorry - Page Not Found</h2>
        <hr>
        <div class="content">This page does not exist. Try starting from the homepage or contact us if you can't find what you're looking for.</div>
      </div>
    </div>
  </div>
</section>

{{ end }}
