{{ define "main" }}

{{ partial "page-nav.html" .Site.Menus.page }}

{{ partial "a-page-header.html" . }}

<section id="about" class="post-section bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-lg-8 mx-auto">
        <h2 class="mb-1 text-center">{{ .Title }}</h2>
        <hr>
      </div>
    </div>
    {{ range .Pages.ByPublishDate }}
    <div class="row justify-content-center">

    {{ $featured_image := .Params.featured_image }}
    {{ if $featured_image }}
    <div class="col-md-3">
      <a href="{{ .Params.external_link }}">
        <img class="img-thumbnail" src="{{ $featured_image | relURL }}" alt="{{ .Params.featured_image_alt_text }}">
      </a>
    </div>
    {{ else }}
    <div class="col-md-3 text-center">
      <a class="btn btn-primary" style="display:none;" href="{{ .Params.external_link }}">Read More</a>
    </div>
    {{ end }}

    <div class="col-md-7 col-lg-5 mb-4">
      {{ if .Params.external_link }}
      <h4><a href="{{ .Params.external_link }}">{{ .Title }}</a></h4>
      {{ else }}
      <h4>{{ .Title }}</h4>
      {{ end }}
      <p class="date"> {{ .Date.Format "Jan 2, 2006" }} </p>
      <p class="summary"> {{ .Content }}</p>
      {{ if .Params.external_link }}<a href="{{ .Params.external_link }}">Link</a>{{ end }}
    </div>

    </div>
    {{ end }}
  </div>
</section>

{{ end }}
