<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Make a reservation to stay at the Willamette Valley Bed and Breakfast">
  
  
  <meta name="robots" content="noindex, nofollow">
  

  <title>Reserve | Willamette Valley Bed and Breakfast - Newberg, Oregon</title>

  

<link href="/wvbnb/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<link href="/wvbnb/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

<link rel="stylesheet" href="/wvbnb/style.main.min.cbb5e88b794f85a29c596619c213cad5bae252730e9323c9cd8898260a9c76c1.css">

</head>

<body id="page-top">



<nav class="navbar navbar-expand-lg navbar-light navbar-shrink fixed-top" id="reserveNav">
  <div class="container">
    <a class="navbar-brand js-scroll-trigger" href="/wvbnb/">WVBNB</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      Menu
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#available">Availability</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<section id="reserve" class="reserve-section bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-lg-8 mx-auto text-center">

        <h2 class="mb-1">Make a Reservation</h2>

        <form action="http://127.0.0.1:5000/hold" method="POST" enctype="multipart/form-data">
          <div class="row row-sm-offset">
            <div class="col-md-4 multi-horizontal" data-for="name">
              <div class="form-group">
                <label class="form-control-label display-7" for="name-form1-73">Name</label>
                <input type="text" class="form-control" name="name" data-form-field="Name" required="" id="name-form1-73">
              </div>
            </div>
            <div class="col-md-4 multi-horizontal" data-for="email">
              <div class="form-group">
                <label class="form-control-label display-7" for="email-form1-73">Last Name</label>
                <input type="text" class="form-control" name="email" data-form-field="Last Name" required="" id="email-form1-73">
              </div>
            </div>
            <div class="col-md-4 multi-horizontal" data-for="guestnum">
              <div class="form-group">
                <label class="form-control-label display-7" for="guestnum">Number of Guests</label>
                <input type="text" class="form-control" name="name" data-form-field="Number of Guests" required="" id="guestnum">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4 multi-horizontal" data-for="checkin">
            <div class="form-group">
              <label >Check In</label>
              <input type="date" name="checkin" max="3000-12-31" 
                     min="1000-01-01" class="form-control">
            </div>
            </div>
            <div class="col-md-4 multi-horizontal" data-for="checkout">
            <div class="form-group">
              <label >Check Out</label>
              <input type="date" name="checkout" min="1000-01-01"
                     max="3000-12-31" class="form-control">
            </div>
            </div>
            <div class="col-md-4 multi-horizontal" data-for="room">
            <div class="form-group">
              <label class="form-control-label display-7" for="room">Room</label>
              <input type="text" class="form-control" name="room" data-form-field="Room" required="" id="room">
            </div>
            </div>
          </div>

          <div class="row">
            <button type="submit" class="btn btn-primary mx-auto">Reserve</button>
      </div>
        </form>

      </div>
    </div>
  </div>
</section>

<section id="available" class="available-section bg-light">
  <div class="container" id="rezgrid">
    <div class="row">
  			<div class="col-md-6 text-center white">
  			  <button class="btn btn-primary">Back</button>
  			</div>
  			<div class="col-md-6 text-center white">
  			  <button class="btn btn-primary">Forward</button>
  			</div>
    </div>
    <table class="table">
    <tbody>
      <tr>
        <td class="">
        </td>
        <td class="" v-for="day in days">
          <div class="date">{% day | date %}</div>
        </td>
      </tr>
      <tr v-bind:class="{odd: index % 2 == 0}"  v-for="(value, key, index) in reservations">
        <td class="room">
          <div class="name">Room {% key %}</div>
        </td>
        <td v-bind:class="{unavailable: day.Booked}" v-for="day in value">
        </td>
      <tr>
    </tbody>
    </table>
  </div>
</section>



<section id="contact" class="contact-section bg-black">
  <div id="contact-content" class="container">

    <div class="row">

      <div class="col-md-4 mb-3 mb-md-0">
        <div class="card py-4 h-100">
          <div class="card-body text-center">
            <i class="fas fa-map-marked-alt text-primary mb-2"></i>
            <h4 class="text-uppercase m-0">Address</h4>
            <hr class="my-4">
            <div class="small text-black-50">23535 NE Old Yamhill Road, Newberg, Oregon 97132</div>
          </div>
        </div>
      </div>

      <div class="col-md-4 mb-3 mb-md-0">
        <div class="card py-4 h-100">
          <div class="card-body text-center">
            <i class="fas fa-envelope text-primary mb-2"></i>
            <h4 class="text-uppercase m-0">Email</h4>
            <hr class="my-4">
            <div class="small text-black-50">
              <a href="mailto:info@willamettevalleybandb.com">info@willamettevalleybandb.com</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 mb-3 mb-md-0">
        <div class="card py-4 h-100">
          <div class="card-body text-center">
            <i class="fas fa-mobile-alt text-primary mb-2"></i>
            <h4 class="text-uppercase m-0">Phone</h4>
            <hr class="my-4">
            <div class="small text-black-50">(425) 495-1181</div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>


<footer class="bg-black small text-center text-white-50">

  <ul class="nav justify-content-center">
  
  <li class="nav-item">
    <a class="nav-link" href="/wvbnb/about">About</a>
  </li>
  
  <li class="nav-item">
    <a class="nav-link" href="/wvbnb/posts">Blog</a>
  </li>
  
  <li class="nav-item">
    <a class="nav-link" href="/wvbnb/events">Events</a>
  </li>
  
  <li class="nav-item">
    <a class="nav-link" href="/wvbnb/#reserve">Reservations</a>
  </li>
  
  </ul>

  <div class="container">
    Copyright &copy; Willamette Valley Bed and Breakfast 2019
  </div>
</footer>




<script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
<script src="/wvbnb/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery.easing@1.4.1/jquery.easing.min.js"></script>
<script src="/wvbnb/js/grayscale.min.01ade2f586e984a91ea964aa6dc3461493a28de1350926d38ebb9dd6cbb745c7.js"></script>


<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<script src="/wvbnb/js/main.min.f2438feb7974036908e6a0597b4c5d68299a5ed79834ae73cb56c18a602f32a9.js"></script>


</body>

</html>
